@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #111729;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Quote */
h1 {
  color: #9fa4ae;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Author */
h2 {
  font-size: 1rem;
  font-weight: 600;
}

/* Tags */
span {
  color: #6466e9;
  border: 1px solid #6466e9;
  border-radius: 15px;
  display: inline-block;
  font-size: 0.625rem;
  font-weight: 200;
  margin: 15px 2.5px 20px 2.5px;
  padding: 2px 10px;
}

.container {
  width: 550px;
}

.content {
  background-color: #20293a;
  background-image: url(./static/bg-image-random-quote.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 2.5rem;
  position: relative;
}

.flash-message {
  border-radius: 0.5rem;
  background-color: #6466e95b;
  font-weight: 200;
  padding: 0.3rem;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  animation: fade-in 1s 3s ease-in forwards, fade-out 1s 0.5s ease-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.icon {
  font-size: 0;
}

img {
  height: 1.75rem;
  display: block;
  margin: auto;
}

button {
  background-color: inherit;
  border: none;
  color: #4a5567;
  padding: 0.3rem 0.7rem;
}

button#refreshQuote {
  border-left: 2px solid #4a556757;
  border-top: 2px solid #4a556757;
  border-bottom: 2px solid #4a556757;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  cursor: pointer;
}

button#copyQuote {
  border: 2px solid #4a556757;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #4a556738;
  color: white;
}

.hidden {
  display: none;
}

@media (max-width: 641px) {
  .container {
    width: 520px;
  }

  .bg {
    background-size: 12%;
  }

  .flash-message {
    top: 100px;
  }
}
