@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #111729;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Quote */
h1 {
  color: #9fa4ae;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Author */
h2 {
  font-size: 1rem;
  font-weight: 600;
}

/* Tags */
span {
  color: #6466e9;
  border: 1px solid #6466e9;
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 200;
  margin: 15px 2.5px 20px 2.5px;
  padding: 2px 10px;
}

.container {
  width: 650px;
}

.content {
  background-color: #20293a;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 2.5rem;
}

.icon {
  font-size: 0;
}

button {
  background-color: inherit;
  border: none;
  color: #4a5567;
  padding: 0.5rem 1rem;
}

button#refreshQuote {
  border-left: 2px solid #4a5567;
  border-top: 2px solid #4a5567;
  border-bottom: 2px solid #4a5567;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

button#copyQuote {
  border: 2px solid #4a5567;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

i {
  width: 2rem;
}

button:hover {
  background-color: #4a556738;
  color: white;
}

@media (max-width: 641px) {
  .container {
    width: 500px;
  }
}
